{
  "plugins": [
    "transform-flow-strip-types",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    ["env", {
      "debug": true,
      "targets": { "node": 4 }
    }]
  ]
}
